<h1>New Article</h1>
<!-- note for later: local: true turns off auto-ajax behavior -->
<%= form_with scope: :article, url: articles_path, local: true do |form| %>
  <p>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :text %>
    <%= form.text_area :text %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<p>
  <%= link_to "See all articles", "/articles" %> <%# TODO: Find a better path helper to link to all articles %>
</p>
