<h1>New Article</h1>
<p>Title must have at least 5 characters!</p>

<!-- note for later: local: true turns off auto-ajax behavior -->
<%= form_with scope: :article, url: articles_path, local: true do |form| %>
  <p>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :text %>
    <%= form.text_area :text %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<p>
  <%= link_to "Back to all articles", articles_path %>
</p>
