<p>
  <strong><%= @article.title %></strong>
</p>

<p>
  <%= @article.text %>
</p>

<%= link_to 'Edit This Article', edit_article_path(@article) %>

<hr />

<p>
  <%= link_to "Create a new article", article_path(:new) %>
</p>

<p>
  <%= link_to "Back to all Articles", articles_path %>
</p>
